/* .form-field {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
} */
/* style.css */
/* #dynamic-form {
    display: grid;
    gap: 10px;
} */

button {
    background-color: hwb(181 0% 14%);
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(320, 96%, 58%);
}

input[type="text"],
input[type="checkbox"],
input[type="radio"] {
    border: 1px solid #DDD;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Additional styling as needed */
